.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 2%;
    padding-left: 1%;
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 5px 20px; 
    border-radius: 50px;
    width: 500px;
}

.search-box input {
    flex: 1; /* This allows the input to expand and take up the available space */
    padding: 6px;
    border: none;
    background: transparent;
    outline: none;
    color: black;
    font-size: 12px;
    transition: opacity 0.5s ease-in-out; /* Add this line */
}

.search-button{
    background: #ffffff;
    border: none;
    cursor: pointer;
}



.search-icon {
    width: 18px;
    margin-left: auto; /* Pushes the search icon to the right */
}


.logo{
    padding: 10px;
    width: 100px;
    max-width: 100%;
    height: 70px;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #FF1A1A;
}

.notoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
